@font-face {
  font-family: "GalanoGrotesqueRegular"; /*Can be any text*/
  src: local("GalanoGrotesqueRegular"),
    url("../public/assets/fonts/GalanoGrotesqueRegular.otf") format("otf");
}

body {
  font-family: "GalanoGrotesqueRegular", Arial, Helvetica, sans-serif;
}
