/* makes sizing simpler  */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* TODO: import font-family */

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
  font-family: Galano Grotesque, Arial, Helvetica, sans-serif;
}

/* dark mode user-agent-styles */
/* html {
  color-scheme: dark light;
} */

/* min body height */
body {
  min-height: 100svh;
}

/* responsive images/videos */
/* img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
} */
